/*.garment-img{
    width: 70%;
    height: 20rem;
    background-color: gray;
}*/

.garment-description{
    display: flex;
    flex-direction: column;
}

.garment-name{
    color: black;
    font-weight: 500;
}

.payment svg{
    margin-right: 1rem;
}

.payment svg:last-child{
    margin-right: 0px;
}

.sub-btn, .add-btn:hover{
    cursor: pointer;
}

/*
.size-cell{
    margin-right: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;
}

.size-cell:first-child{
    margin-left: 0px;
}

.size-cell:last-child{
    margin-right: 0px;
}
*/