.product-section-container{
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.product-section-container h3{
    font-size: 3rem;
}

.product-list-container{
    width: 1536px;
    height: 20rem;
    background-color: aqua;
}