<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-xl">
        <a class="navbar-brand text-white fw-bold fs-1" href="#">
            <div class="d-flex flex-column">
                <span style="font-family: serif;">
                    TIENDA
                </span>
                <span class="d-flex justify-content-center" style="font-family: serif;">
                    ROPA
                </span>
            </div>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"> 
                <a class="nav-link text-white fs-4" href="">Home</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link text-white fs-4" href="">Clothing</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link text-white fs-4" href="">Contact</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link text-white fs-4" href="">About us</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item"> 
                <a class="nav-link text-white fs-4" href="">Contact</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link text-white fs-4" href="">About us</a>
            </li>
        </ul>
    </div>

   

</nav>  