<nav id="navbar-container">
    <div class="nav-logo">
        <h2>TIENDA ROPA</h2>
    </div>

    <ul class="nav-list">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="/item-shop">Productos</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>
    </ul>

    <ul class="nav-list">
        <li>
            <a href="#">userPic</a>
        </li>
        <li>
            <a href="#">userName</a>
        </li>
    </ul>
</nav>