<section class="container-xxl mt-5">
    <div class="row">
        <div class="col-3 p-0">
            <img src="/assets/images/user-default.jpg" alt="Imagen default person" class="w-100 h-100">
        </div>
        <div class="col-9 p-5">
            <div class="p-5">
                <span class="fs-4 fw-bold">Quienes Somos?</span>
                <p class="fs-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate tenetur voluptatem harum,
                    exercitationem nobis optio fugiat sequi tempore. Vero veniam ipsa assumenda error consectetur
                    dignissimos doloremque similique labore minima nulla? Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Blanditiis, dolorem a molestiae inventore iusto incidunt aliquam dolores sequi
                    suscipit obcaecati. Possimus sit animi numquam, fuga necessitatibus totam natus nisi nesciunt.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-9 p-5">
            <div class="p-5">
                <span class="fs-4 fw-bold">Lorem</span>
                <p class="fs-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate tenetur voluptatem harum,
                    exercitationem nobis optio fugiat sequi tempore. Vero veniam ipsa assumenda error consectetur
                    dignissimos doloremque similique labore minima nulla? Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Blanditiis, dolorem a molestiae inventore iusto incidunt aliquam dolores sequi
                    suscipit obcaecati. Possimus sit animi numquam, fuga necessitatibus totam natus nisi nesciunt.
                </p>
            </div>
        </div>
        <div class="col-3 p-0">
            <img src="/assets/images/user-default.jpg" alt="Imagen default person" width="270" height="270">
        </div>
    </div>

    <div class="container-xxl mt-5">
        <span class="d-flex justify-content-center fs-3 fw-bold">Nuestros Profesionales</span>
        <div class="row mt-5">
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="/assets/images/user-default.jpg" class="card-img-top" alt="Imagen default">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Johnnie Walker</h5>
                        <h6 class="card-subtitle d-flex justify-content-center mb-2 text-body-secondary">director</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="/assets/images/user-default.jpg" class="card-img-top" alt="Imagen default">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Samus Aran</h5>
                        <h6 class="card-subtitle d-flex justify-content-center mb-2 text-body-secondary">sub director</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="/assets/images/user-default.jpg" class="card-img-top" alt="Imagen default">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">James Sunderland</h5>
                        <h6 class="card-subtitle d-flex justify-content-center mb-2 text-body-secondary">Employer</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="/assets/images/user-default.jpg" class="card-img-top" alt="Imagen default">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Mary Shepherd</h5>
                        <h6 class="card-subtitle d-flex justify-content-center mb-2 text-body-secondary">Employer</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>