<footer class="footer">
    <div class="footer-info">
        <div class="footer-list">
            <!--Contacto-->
            <span class="footer-list-title">
                Contacto
            </span>
            <ul>
                <li>
                    <span>+5492235123456</span>
                <li>
                    <span>Whatsapp: <a href="#">+5492235123456</a></span>
                </li>
                <li>
                    <span>Email: <a href="#">ventas&#64;tiendaropa.com</a></span>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <!--Sobre nosotros-->
            <span class="footer-list-title">
                Sobre nosotros
            </span>
            <ul>
                <li>
                    <span><a href="#">Donde encontrarnos?</a></span>
                </li>
                <li>
                    <span><a href="#">Nuestra historia</a></span>
                </li>
                <li>
                    <span><a href="#">Venta mayorista</a></span>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <!--Ayuda-->
            <span class="footer-list-title">
                Como podemos ayudarte?
            </span>
            <ul>
                <li>
                    <span><a href="#">Seguimiento de pedido</a></span>
                </li>
                <li>
                    <span><a href="#">Envios</a></span>
                </li>
                <li>
                    <span><a href="#">Guía de talle</a></span>
                </li>
            </ul>
        </div>
    </div>
</footer>